import React from 'react';
import styles from './styles.module.scss';

export interface I{{pascalCase name}}Props {
}

const {{pascalCase name}}: React.FC<I{{pascalCase name}}Props> = (
  { children }
) => (
  <div className={styles.container}>{{name}}</div>
);

export default {{pascalCase name}};
